


/*header title font*/
#fancy-heading {
  font-family: 'Lily Script One', cursive;
  font-size: 120px;
  padding-top: 20px;
  margin-bottom: 40px;
  color:#1DA1F2

}

.output-style {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.output-style h6 {
  font-size: 18px;
}

.clickable:hover {
  cursor: pointer;
  background-color: #E8E8E8;

}
